apiVersion: v1
kind: Service
metadata:
  name: cats-dogs-service
  labels:
    app: cats-dogs-classifier
spec:
  type: LoadBalancer
  selector:
    app: cats-dogs-classifier
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: cats-dogs-service-nodeport
  labels:
    app: cats-dogs-classifier
spec:
  type: NodePort
  selector:
    app: cats-dogs-classifier
  ports:
    - name: http
      protocol: TCP
      port: 8000
      targetPort: 8000
      nodePort: 30000

